<div id="manage">
<div class="content-container2" >
	<div class="confirm">
			<button class="btn but" type="submit" id="addbtn" ng-click="addAliasView()">新增</button>
			<button class="btn but1" type="submit" id="editbtn" data-toggle="modal" data-target="#aliasInfoModal" disabled="true" ng-click="getAliasInfo()">编辑</button>
			<button class="btn but1" type="submit" id="delbtn" disabled="true"  ng-click="delAlias()">删除</button>
		<div class="pull-right">
			疾病名称<input type="text" class="form-control textlength" id="name">
			别名<input type="text" class="form-control textlength" id="aliasName">
			<div class="pull-right pull-right-btn">
			<button class="btn but" type="submit" onclick="queryAliasList();">查询</button>
			</div>
		</div>
		
	</div>
</div>
<div>
	<div class="table_content" id="aliasList">
		<table id="ShowList"></table>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="aliasInfoModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <p class="modal-title" id="myModalLabel">
             	 诊断别名编辑
            </p>
         </div>
         <div class="modal-body">
         	<div class="message">
         		<input type="text" class="form-control anotext" ng-model="id" ng-show="false">
         		<input type="text" class="form-control anotext" ng-model="itemId" ng-show="false">
         		<div class="lme">
         			<p class="digid" ng-model="icdCode">诊断代码：<span>{{icdCode}}</span></p>
         		</div>
         		<div class="rme">
         			<p class="digname" ng-model="itemName" title="{{itemName}}">诊断名称：<span>{{itemName}}</span></p>
         		</div>
         		<div class="bme">
         			<span class="another">诊断别名</span><input type="text" class="form-control anotext" ng-model="name">
         		</div>
         	</div>
         </div>
         <div class="modal-footer">
        		<div class="an">
        			<button class="btn btn-info but" id="confirm" ng-click="editAlias()" >确定</button>
        			<button class="btn btn-info but" id="cancle" data-dismiss="modal">取消</button>
        		</div>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
</div>
<div id="adddig">
	<div class="content-container2" >
		<div class="confirm">
				<button class="btn but" ng-click="createAlias()">保存</button>
				<button class="btn but" type="submit" id="forwardbtn">返回</button>
			<div class="pull-right pull-right-btn">
				<button class="btn but" type="submit">查询</button>
			</div>
		</div>	
	</div>
	<div>
		<table class="table table-bordered cont-right-table1 fontColor" id="aliasTableListId">
					   
					   <thead>
					      <tr>
					         <th class="tdwidth">编码</th>
					         <th>诊断名称</th>
					         <th>俗名</th>
					         <th class="tdwidth1">删除</th>
					      </tr>
					   </thead>
					   <tbody>
					      <tr ng-repeat="i in item"  ng-init="parentIndex=$index">
					        <td class="tdwidth">{{i.icd_code}}</td>
					      	<td style="position: relative;">
								<input type="text"  name="input" ng-model="i.itemName" ng-focus="focus(i,$index)" ng-blur="blur()" ng-change="calculate(i,$index)" ng-click="avoid($event)"/>
									<ul  class="ul1" ng-show="show.value == $index">
										<li ng-repeat="ite in ittm" ng-click="click(i,ite,$index,$event)" ng-mouseover="mouseover($index)" ng-mouseout="mouseout($index)" ng-class="{'activeLi':act.judge==$index}">{{ite.name+" ("+ite.icd_code+")"}}</li>
										<li>
											<button ng-show="btndisplay"  class="btncommon" ng-click="downloadmore(parentIndex,$event)">下一页</button>
										</li>
									</ul>
					         </td>
					         <td>
					         	<input type="text"  name="name" ng-model="i.name"/>
					         </td>
					         <td align="center"><span class="bg" ng-click="remove($index)"></span></td>
					     </tr>
					   </tbody>
	</table>
	</div>
</div>
</div>
<script>
$(function(){
	$("#forwardbtn").click(function(){
		$("#adddig").hide();
		$("#manage").show();
	});
});
$(document).ready(function(){
	showAliasList(null,null);
});					
function showAliasList(name,aliasName){
	$('#ShowList').bootstrapTable({
		url:"http://"+window.location.host+"/aliasApp/selectAlias?name="+name+"&secondName="+aliasName+"&aliasFlag=0",
		method:"get",
		cache:false,	
	//	striped:true,
		pagination:true,		
		pageList:[],
		pageNumber:1,
		pageSize:8,	 	
		sidePagination:"server",
		silent: true,
		clickToSelect: true,
		 responseHandler:function(res){
			 if(res.status=='failure'){
				 return {"total":0,"rows":res.data};
			 }
			var obj=res.data.pop();
			return {"total":obj.total,"rows":res.data};
		},
		columns : [ 
					{
						radio : true,
						title : "选择" 
					},
					{
						field : "icd_code",
						title : "疾病编码"
					},{
						field : "name",
						title : "疾病名称"
					}, {
						field : "aliasName",
						title : "别名",
						// sortable:true
					}, {
						field : "deptName",
						title : "录入科室"
					},{
						field : "login_name",
						title : "录入人",
					},{
						field : "created_time",
						title : "录入时间",
					}
					
					],					
        onCheck: function (row) {
	    	  $("#editbtn").attr('class',"btn but");
	    	  $("#editbtn").attr('disabled',false);
	    	  $("#delbtn").attr('class',"btn but");
	    	  $("#delbtn").attr('disabled',false);
       }
	});	
}
function queryAliasList(){
	var name=document.getElementById("name").value;
	var secondName=document.getElementById("aliasName").value;
	name=(name.replace(/(^\s*)|(\s*$)/g,"")==""?null:name);
	secondName=(secondName.replace(/(^\s*)|(\s*$)/g,"")==""?null:secondName);
	document.getElementById("aliasList").innerHTML='<table id="ShowList"></table>';
	showAliasList(name,secondName);
	
}
</script>