<div class="content-container2">
				<div class="confirm">
					
					<button class="btn btn-info but1" type="submit" ng-click="saveDiagnosisList(item)" >保存</button>
					<button class="btn btn-info but1" type="submit">下移</button>
					<button class="btn btn-info but1" type="submit">上移</button>
					<div class="pull-right pull-right-btn">
						<button class="btn btn-info but1" type="submit" data-toggle="modal" data-target="#myModal" ng-click="deptItem()">常用诊断</button>
					</div>
					
				</div>
				<!-- 模态框（Modal） -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
					   aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" >
					   <div class="modal-dialog">
					      <div class="modal-content">
					         <div class="modal-header">
					            <button type="button" class="close" 
					               data-dismiss="modal" aria-hidden="true">
					                  &times;
					            </button>
					            <p class="modal-title" id="myModalLabel">
					             	 常用诊断
					            </p>
					         </div>
					         <div class="modal-body">
					         	<ul id="myTab" class="nav nav-tabs" role="tablist">
					         		<li class="active">
					         			<a  type="button" data-toggle="tab" ng-click="deptItem()">
					         				科室
					         			</a>
					         		</li>
					         		<li>
					         			<a  data-toggle="tab" ng-click="personalItem()">
					         				个人
					         			</a>
					         		</li>
					         	</ul>
					         	<div id="myTabContent" class="tab-content">
						         	<div id="section" class="tab-pane fade in active">
						         		<ul class="modaltable ulList">
										    <li ng-repeat="item in resultList" item-id={{item.icd_code}}>
										    	<p id=check{{$index}} class="checkimg"><img src="img/check.png"  class="checkimg"  ng-click="notCheckimg($index)"></p>
										    	<p id=checkOk{{$index}} style="display:none;"><img src="img/check-ok.png"  class="checkOkimg"   ng-click="checkImg($index)"></p>
										    	<p>{{item.name}}</p>
										    </li>
								    	</ul>
						         	</div>
						         	<div id="personal" class="tab-pane fade">
						         		<ul class="modaltable ulList" >
										    <li ng-repeat="resultItem in resultList" style="float:left;width:50%;">
												<p id=check{{$index}} class="checktd"><img src="img/check.png"  class="checkimg"  ng-click="notCheckimg($index)"></p>
										    	<p id=checkOk{{$index}} class="checkOktd" style="display:none;" class="checkOkimg"><img src="img/check-ok.png"  class="checkOkimg"   ng-click="checkImg($index)"></p>
										    	<p>{{resultItem.name}}</p>
										    </li>
								    	</ul>
						         	</div>
						         </div>
					         </div>
					         <div class="modal-footer">
				         		<div class="an">
				         			<button class="btn btn-info but" id="confirm" ng-click="addItem(resultList);" >确定</button>
				         			<button class="btn btn-info but" id="cancle" data-dismiss="modal">取消</button>
				         		</div>
					         </div>
					      </div><!-- /.modal-content -->
					</div><!-- /.modal -->
					</div>
				    </div>
				<div>
					<table class="table table-bordered cont-right-table1 fontColor" id="dignosisTableListId">
					   
					   <thead>
					      <tr>
					         <th>序号</th>
					         <th>诊断名称</th>
					         <th>编码</th>
					         <th>待查</th>
					         <th>主要</th>
					         <th>备注</th>
					         <th>删除</th>
					      </tr>
					   </thead>
					   <tbody id ="diagnosisList">
					   
					    <tr ng-repeat="i in item track by $index"  ng-init="parentIndex=$index">
					         <td class="tdwidth1">{{$index+1}}</td>
					         <td style="position: relative;">
								<input type="text" value="" name="input" ng-model="i.name" ng-focus="focus(i,$index)" ng-blur="blur()" ng-change="calculate(i,$index)" ng-click="avoid($event)"/>
									<ul ng-show="show.value == $index" class="ul1" >
										<li ng-repeat="ite in ittm track by $index" ng-click="click(i,ite,$index,$event)" ng-mouseover="mouseover($index)" ng-mouseout="mouseout($index)" ng-class="{'activeLi':act.judge==$index}">{{ite.name+" ("+ite.icd_code+")"}}</li>
										<li>
											<button ng-show="btndisplay"  class="btncommon" ng-click="downloadmore(parentIndex,$event)">下一页</button>
										</li>
									</ul>
					         </td>
					         <td class="tdwidth">{{i.icd_code}}</td>
					         <td class="tdwidth1" style="position: relative;">
								<input type="checkbox" ng-model="i.unknown_flag" style="width: 100%;height:100%;display: inline-block; opacity: 0 ; position: absolute;top:0;left:0;z-index: 10;"/>
								<img src="img/yes.png" ng-show="i.unknown_flag" class="imgLi"/>
							 </td>
							 <td  class="tdwidth1"  style="position: relative;">
							    <input type="checkbox" ng-model="i.main_flag" style="width: 100%;height:100%;display: inline-block; opacity: 0 ; position: absolute;top:0;left:0;z-index: 10;"/>
								<img ng-src="img/yes.png" class="imgLi" ng-show="i.main_flag" />
							 </td>
					        <td width="200" ><input type="textarea" value="" name="input" ng-model="i.add_info" /></td>  
					        <td align="center" class="tdwidth1"><span class="bg" ng-click="remove($index)"></span></td>
					    </tr>
                        <tr style="border:2px dotted #666;">
					        <td class="tdwidth1">{{item.length+1}}</td>
					        <td style="position: relative;">
								<input type="text" value="" name="input" ng-model="DiagnosisVO.name" ng-blur="blur()" ng-change="selectDIC(DiagnosisVO.name)" ng-click="avoid($event)"/>
									<ul id ="addDiagnosisLi" ng-show="showLiFlag" class="ul1" >
										<li ng-repeat="ite in dicList track by $index " ng-click="addDICToInput(ite,$event)" ng-mouseover="mouseover($index)" ng-mouseout="mouseout($index)" ng-class="{'activeLi':act.judge==$index}">{{ite.name+" ("+ite.icd_code+")"}}</li>
										  <li>
											<button ng-show="showButtonFlag"  class="btncommon" ng-click="downloadmore(parentIndex,$event)">下一页</button>
										  </li> 
									</ul>
					         </td>
					         <td class="tdwidth">{{DiagnosisVO.icd_code}}</td>
					         <td class="tdwidth1" style="position: relative;">
								<input type="checkbox" ng-model="DiagnosisVO.unknown_flag" style="width: 100%;height:100%;display: inline-block; opacity: 0 ; position: absolute;top:0;left:0;z-index: 10;"/>
								<img src="img/yes.png" ng-show="DiagnosisVO.unknown_flag" class="imgLi"/>
							 </td>
							  <td  class="tdwidth1"  style="position: relative;">
							    <input type="checkbox" ng-model="DiagnosisVO.main_flag" style="width: 100%;height:100%;display: inline-block; opacity: 0 ; position: absolute;top:0;left:0;z-index: 10;"/>
								<img ng-src="img/yes.png" class="imgLi" ng-show="DiagnosisVO.main_flag" />
							 </td>
							  <td width="200" ><input type="textarea" value="" name="input" ng-model="DiagnosisVO.add_info" /></td> 
					          <td align="center" class="tdwidth1"><button ng-click="insertIntoDiagnosisItem()">添加</button></td>
					    </tr>
					   </tbody>
					</table>
				</div>
			
			
				<!-- Nav tabs -->
				  <ul class="nav nav-tabs tab-shift" role="tablist">
				    <li role="presentation" class="active"><a href="#dia-choice1" aria-controls="dia-choice1" role="tab" data-toggle="tab">最近就诊选项一</a></li>
				    <li role="presentation"><a href="#dia-choice2" aria-controls="dia-choice2" role="tab" data-toggle="tab">最近就诊选项二</a></li>
	
				  </ul>
				
				  <!-- Tab panes -->
				 <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="dia-choice1">
				    	
						   <div class="row clear-row">
						      <div class="col-md-3 col-marg">
						      	  <div class="input-group input-marg">
								      <input type="text" class="form-control" >
								      <div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
								        <ul class="dropdown-menu dropdown-menu-right">
								          <li><a href="javascript:;">Action</a></li>
								          <li><a href="#">Another action</a></li>
								          <li><a href="#">Something else here</a></li>
								          <li role="separator" class="divider"></li>
								          <li><a href="#">Separated link</a></li>
								        </ul>
								      </div>
								    </div>
								    <div class="set-checkbox">
										  <label class="checkbox-inline">
											  <input type="checkbox" id="inlineCheckbox1" value="option1"> 门诊
										   </label>
											<label class="checkbox-inline">
											  <input type="checkbox" id="inlineCheckbox2" value="option2"> 急诊
											</label>
											<label class="checkbox-inline">
											  <input type="checkbox" id="inlineCheckbox3" value="option3"> 住院
											</label>
									 </div>
									 <div class="btn-seach">
									 	
										<button class="btn btn-default" type="submit">搜索</button>
									 </div>
									 <table class="table table-bordered set-table">
										   <tbody>
										      <tr>
										         
										         <td>2016-06-07</td>
										         <td><a href="###">消化内科</a></td>
										      </tr>
										      <tr> 
										         <td>2016-04-09<br/>(在院)</td>
										         <td><a href="###">呼吸内科</a></td>
										      </tr>
										      <tr>
										         <td>2015-09-09</td>
										         <td><a href="###">肝胆外科</a></td>
										      </tr>
										   </tbody>
										</table>

						      </div>
						      <div class="col-md-9 col-right-style">
						      	 <div class="digest">
						      	 	<span>2016-06-07消化内科门诊</span>
						      	 		<div class="pull-right">						      	 			
							      	 		<button class="btn btn-default" type="button">全部折叠</button>
							      	 		<button class="btn btn-default" type="button">全部展开</button>
							      	 		<button class="btn btn-default" type="button">取消</button>
							      	 		<button class="btn btn-default" type="button">复用</button>
						      	 		</div>
						      	 	
						      	 </div>
						      	 <table class="table table-bordered deta-table">
					   					<caption class="cap">诊断</caption>
									   <thead>
									      <tr>
									      	 <th></th>
									         <th>诊断名称</th>
									         <th>编码</th>
									         <th>待查</th>
									         <th>主诊断</th>
									         <th>备注</th>
									         <th>诊断医生</th>
									      </tr>
									   </thead>
									   <tbody>
									      <tr>
									         <td>
									         	<input type="checkbox" value="" />
									         </td>
									         <td>结核性纤维变异，未做细菌学和组织学检查</td>
									         <td>A16.103</td>
									         <td></td>
									         <td></td>
									         <td>咳嗽</td>
									         <td></td>
									      </tr>
									      <tr>
									         <td>
									         	<input type="checkbox"  value="" />
									         </td>
									         <td>手术和医疗操作后遗症作为病人异常反应或以后并发症原因</td>
									         <td>Y88.300</td>
									         <td></td>
									         <td></td>
									         <td></td>
									         <td></td>
									      </tr>
									      
									   </tbody>
									</table>
						      </div>      
						   </div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="dia-choice2">...</div>
				    
				  </div>
			</div>
