<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学生信息管理</title>
<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" />
<link href="StudentManaged.css" rel="stylesheet">
<link href="../css/mainStyle.css" rel="stylesheet">
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body ng-controller="stuController" id="moduleId"
	pagename="../smarttable/Student">
	<div class="wrapper">
		<p style="font-size: 16px; padding: 8px 10px;">学生信息管理</p>
		<form ng-submit="searchdidic()" id="searchdic" class="searchdic">
			<div class="con-nav">
				<div class="name" style="float: left; margin-left: 45px;">
					姓名<input type="text" class="input-medium medium"
						ng-model="searchForm.name" />
				</div>
				<div class="birthday" style="float: left; margin-left: 100px;">
					出生日期 <input type="date" class="input-medium medium"
						datepicker-popup ng-model="searchForm.birthday" current-text="今天"
						is-open="opened" date-disabled="disbled(date,mode)"
						min-date="minDate" close-text="Close">
				</div>
				<button type="submit" class="button">搜索</button>
				<div style="clear: both;"></div>
			</div>
		</form>

		<div class="info">
			<div class="confirm">
				<div style="clear: both;"></div>
				<!--新增的弹出窗口-->

				<button class="btn save" type="button" data-toggle="modal"
					data-target="#add_dig" value="新增">新增</button>
				<div class="modal fade" id="add_dig" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true"
					data-backdrop="static">
					<div class="modal-dialog">
						<div class="modal-header wrap">
							<h5 class="modal-title" id="myModalLabel">新增</h5>
						</div>
						<div class="modal-content wrap">
							<form id="add_dig" class="form-horizontal">
								<table id="addDigTable">
									<tr>
										<td><label class="control-label"><b
												style="color: red;">*</b>姓名</label></td>
										<td><input id="add_name" type="text"
											ng-model="addForm.name" placeholder="请输入中文姓名"
											class="input-medium"></td>
										<td><label class="control-label">年龄</label></td>
										<td><input type="text" ng-model="addForm.age"
											placeholder="请输入年龄" class="input-medium"></td>
									</tr>
									<tr>
										<td><label class="control-label">性别</label></td>
										<td style="padding-top: 15px;"><select
											ng-model="addForm.sex" class="selectsi">
												<option value="男">男</option>
												<option value="女">女</option>
										</select></td>
										<td><label class="control-label"><b
												style="color: red;">*</b>出生日期</label></td>
										<td><input type="date" class="input-medium"
											datepicker-popup ng-model="addForm.birthday"
											current-text="今天" is-open="opened"
											date-disabled="disbled(date,mode)" min-date="minDate"
											ng-required="true" close-text="Close"></td>
									</tr>
								</table>
							</form>
						</div>
						<!-- /.modal-content -->
						<div class="modal-footer wrap" style="padding: 10px;">
							<button type="button" class="btn btn-primary" ng-click="addDic()">确认</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">取消</button>
						</div>
					</div>
					<!-- /.modal -->
				</div>
				<div class="modal fade" id="edit_dig" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true"
					data-backdrop="static">
					<div class="modal-dialog">
						<div class="modal-header wrap">
							<h5 class="modal-title" id="myModalLabel">修改</h5>
						</div>
						<div class="modal-content wrap">
							<form id="editDig" class="form-horizontal">
								<input type="hidden" ng-model="alterForm.id" id="alter_id">
								<table id="addDigTable">
									<tr>
										<td><label class="control-label"><b
												style="color: red;">*</b>姓名</label></td>
										<td><input id="alter_name" type="text"
											ng-model="alterForm.name" placeholder="请输入中文姓名"
											class="input-medium"></td>
										<td><label class="control-label">年龄</label></td>
										<td><input type="text" ng-model="alterForm.age"
											placeholder="请输入年龄" class="input-medium"></td>
									</tr>
									<tr>
										<td><label class="control-label">性别</label></td>
										<td style="padding-top: 15px;"><select
											ng-model="alterForm.sex" class="selectsi">
												<option value="男">男</option>
												<option value="女">女</option>
										</select></td>
										<td><label class="control-label"><b
												style="color: red;">*</b>出生日期</label></td>
										<td><input type="date" class="input-medium"
											ng-model="alterForm.birthday" ng-required="true"
											placeholder="yyyy-mm-dd"
											my-model-filter="{filter:'date',expr:'yyyy-MM-dd'}"
											jquery-date-picker="{dateFormat:'yyyy-mm-dd'}"
											jquery-mask="{format:'0000-00-00',placeholder:'yyyy-mm-dd'}">
										</td>
									</tr>
								</table>
							</form>
						</div>
						<!-- /.modal-content -->
						<div class="modal-footer wrap" style="padding: 10px;">
							<button type="button" class="btn btn-primary" ng-click="Edit()">确认</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">取消</button>
						</div>
					</div>
					<!-- /.modal -->
				</div>
				<!--删除的弹出窗口-->

				<div class="modal fade" id="delete" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true"
					data-backdrop="static"
					style="margin: 0 auto; padding: 0px 19px 15px;">
					<div class="modal-dialog">
						<div class="modal-header" style="width: 410px;">
							<h5 class="modal-title" id="myModalLabel">删除</h5>
						</div>
						<div id="remove" class="form-horizontal">
							<p style="text-align: center; margin: 94px;">
								<img src="../img/delete.jpg">确认删除所选内容？
							</p>
						</div>

						<div class="modal-footer"
							style="padding: 10px; width: 410px; margin-top: -44px;">
							<button type="button" class="btn btn-primary" ng-click="Remove()">确认</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">取消</button>
						</div>
					</div>


				</div>
				<!--表格-->
				<div class="container">
					<table st-table="displayed" class="table table-striped">
						<thead>
							<tr>
								<th st-sort="id">序号</th>
								<th st-sort="name">姓名</th>
								<th st-sort="age">年龄</th>
								<th st-sort="sex">性别</th>
								<th st-sort="birthday">出生日期</th>
								<th st-sort="operation">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in attributes">
								<td ng-bind="$index+1">1</td>
								<td title="{{row.name}}">{{row.name}}</td>
								<td>{{row.age}}</td>
								<td>{{row.sex}}</td>
								<td>{{row.birthday}}</td>
								<td class="action-column">
									<button type="button" class="btn-info btn-sm"
										data-toggle="modal" data-target="#edit_dig"
										ng-click="setValue1(row)">编辑</button>
									<button type="button" class="btn-info btn-sm"
										data-toggle="modal" data-target="#delete"
										ng-click="setValue2(row)">删除</button>
								</td>
							</tr>
						</tbody>
						<tfoot ng-hide="numberOfPages==1">
							<tr>
								<td colspan="6"><pagination-smart-table
										num-pages="numberOfPages" current-page="currentPage"
										max-size="maxSize"></pagination-smart-table></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'../compage/tipmodal.html'"></div>
	<script async="async" defer="defer" src="../lib/requireJs/require.js"
		data-main="../lib/main.js"></script>
</body>
</html>
